<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>no thanks</key>
	<false/>
	<key>go ahead</key>
	<true/>
	<key>sure</key>
	<true/>
	<key>not now</key>
	<false/>
	<key>no</key>
	<false/>
	<key>yes</key>
	<true/>
</dict>
</plist>
